<h2>All Superheroes</h2>
<br>
<%= form_tag superheroes_path, method: :get do %>
  <b><%= label_tag :superpower, "Search by Superpower:" %></b>
  <br>
  <%= search_field_tag :superpower %>
  <%= submit_tag 'Search' %>
<% end %>
<br>
<ul>
  <% @superheroes.each do |superhero| %>
    <li>
      <%= link_to superhero.super_name, superhero_path(superhero) %>
    </li>
    <br>
  <% end %>
</ul>

<%= button_to "Create Superhero", new_superhero_path, method: :get %>
<%= button_to "View All Superpowers", superpowers_path, method: :get %>
