<h2>All Superheroes</h2>

<h3> Search By Superpower: </h3>

<%= form_tag("/superheroes", method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>

<ul>
  <% @superheroes.each do |superhero| %>
    <li>
      <%= link_to superhero.super_name, superhero_path(superhero) %>
    </li>
    <br>
  <% end %>
</ul>

<ul>
  <% @superheroes.each do |superhero| %>
    <li>
      <% if superhero.superpower = @superpower %>
      <%= link_to superhero.super_name, superhero_path(superhero) %>
      <%end %>
    </li>
    <br>
  <% end %>
</ul>
