<!DOCTYPE html>
<html>
  <head>
    <title>ImmersiveRailsAssessment</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="nav-bar">
      <ul>
        <li><%= link_to "HOME", root_url %></li>
        <li><%= link_to "CREATE-A-HERO", new_superhero_path %></li>
      </ul>
    </div>


    <%= yield %>
  </body>
</html>
